@import "../../styles/sass/base";
@import "../../styles/sass/mixin";

.form-user {
  .form-user-inputs {
    .form-label {
      font-size: $base-size + 0.2rem;
      font-weight: 600;
      color: $color-blue-dark;
    }
    .form-control,
    .form-select {
      padding: 0.6rem 1.2rem;
      font-size: $base-size + 0.2rem;
    }

    &__error {
      font-size: $base-size + 0.4rem;
      font-weight: 600;
      color: $color-red;
      margin-top: 1.8rem;
    }

    @include image-preview-container;
  }
}
