@import "../../styles/sass/base";

.package-manage-wrapper {
  margin-bottom: 4rem;

  .package-manage {
    .label {
      h4 {
        font-size: $base-size + 0.3rem;
        font-weight: 600;
        color: $color-blue-dark-2;
      }
    }

    &__title {
      font-size: $base-size + 1.4rem;
      font-weight: 800;
      color: $color-blue-dark;
    }

    .package-created {
      &__title {
        font-weight: 700;
        margin: 3rem 0 1rem;
      }

      p {
        font-size: $base-size + 0.2rem;
        margin-bottom: 0;
      }
    }

    .package-inputs {
      &__title {
        font-weight: 700;
        margin: 4rem 0 1rem;
      }

      &__input {
        padding: 0.7rem 1rem;
        font-size: $base-size;
      }
    }

    .package-markdowns {
      &__title {
        font-weight: 700;
        margin: 4rem 0 1rem;
      }
    }

    .package-button {
      button {
        padding: 0.8rem 3.2rem;
        font-size: $base-size;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}
