@import "../../styles/sass/base";
@import "../../styles/sass/mixin";

.package-manage {
  &-inputs {
    @include image-preview-container;
  }

  .ant-select-selector {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    .ant-select-selection-item {
      .ant-select-selection-item-remove {
        margin-top: -0.4rem;
      }
    }
  }
}
