@import "../../styles/sass/base";

.schedule-manage {
  &-content {
    display: flex;
    flex-direction: column;

    .select-doctor {
      h4 {
        span {
          font-weight: 500;
          color: $main-color-text;
        }
      }
    }
  }

  .select-hours {
    .hours-list {
      border: 1px solid $grey-2;
      padding: 2rem;
      border-radius: 0.4rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;

      &__item {
        .button {
          transition: all 0.3s;

          &.selected {
            background-color: $color-yellow-dark;
            font-weight: 600;
          }
        }
      }
    }
  }
}
