@import "../sass/variables";

.u-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.u-border-bottom {
  border-bottom: 3px solid $grey-4;
}

.u-background-grey {
  background-color: $grey-3;
}

.u-clinic-title {
  padding: 2rem 0 1rem;
  margin-bottom: 0;
  font-size: $base-size + 0.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-blue-dark-2;
  border-bottom: 1px solid $grey-5;
}
