@import "./sass/variables";

.booking-hours {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;

    margin-bottom: 1rem;
    margin-right: 1rem;

    button {
      width: 18rem;
      padding: 1rem;
      font-weight: 700;
      background-color: $color-yellow-dark;
      transition: $transition;

      &:hover {
        opacity: 0.8;
      }
    }

    &--no-hour {
      display: flex;
      gap: 0.4rem;
      font-size: $base-size + 0.3rem;
      padding: 1rem 2rem 1rem 0;
      color: $color-red;
      font-weight: 700;

      svg {
        margin-top: 2px;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__fee {
    display: flex;
    align-items: center;
    line-height: 2.4rem;
    font-weight: 300;
    margin-bottom: 2.4rem;
    span {
      margin-top: 0.3rem;
    }

    svg {
      width: 3rem;
      height: 1.8rem;
    }
  }
}

.booking-hours.small {
  .booking-hours-list {
    button {
      width: 16.2rem;
      font-size: $base-size;
    }

    &--no-hour {
      svg {
        margin-top: 4px;
        flex-shrink: 0;
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  .booking-hours__fee {
    margin-bottom: 1.2rem;
    font-size: $base-size;
    font-weight: 400;
  }
}
