@import "./sass/variables";
@import "../styles/sass/mixin";

.change-password {
  .form-change-password {
    label {
      font-size: $base-size + 0.2rem;
      font-weight: 600;
    }

    .custom-input {
      @include custom-input;
      border-radius: 0.8rem;
    }

    &__button {
      @include form-button;
      font-size: $base-size + 0.4rem;
      border-radius: 0.8rem;
      transition: $transition-2;
      filter: brightness(0.95);

      &:hover {
        filter: brightness(1.05);
      }
    }
  }
}
