@import "./sass/variables";

.clinic-specialties-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .clinic-specialties {
    margin-top: $height-header;
    flex: 1;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $grey-2;
      padding: 3rem 0 1.5rem;
      margin-bottom: 3rem;

      h2 {
        font-size: $base-size + 1rem;
        font-weight: 700;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin-bottom: 3rem;

      &__image {
        img {
          object-fit: cover;
          border-radius: 0.8rem;
          width: 26rem;
          height: auto;
          border: 1px solid $grey-2;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      &__name {
        font-size: $base-size + 0.6rem;
        font-weight: 700;
        color: $color-blue-dark-2;
      }

      &__address {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        svg {
          width: 1.6rem;
          height: 1.6rem;
          color: $main-color-text;
          margin-top: -2px;
        }

        span {
          font-size: $base-size + 0.4rem;
          color: $main-color-text;
        }
      }
    }
  }
}
