@import "./sass/variables";

.clinic-carousel-container {
  flex: 1;

  .filter {
    margin-top: 2rem;
    padding: 2.5rem 5rem;
    border-radius: 0.6rem;
    background-color: $color-yellow-dark;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &-search {
      .input-search {
        width: 100%;
        input {
          border-radius: 0.6rem;
        }
      }
    }

    &-select {
      display: flex;
      gap: 2.4rem;

      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        padding: 0.6rem 1.8rem;
        background-color: #fff;
        border: 1px solid $rgba-black-1;
        border-radius: 0.6rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        outline: none;
        cursor: pointer;

        &__category,
        &__price {
          font-weight: 600;
          font-size: $base-size + 0.4rem;
        }

        &__icon {
          svg {
            opacity: 0.7;
          }
        }
      }
    }

    .refresh {
      flex: 0 0 4.2rem;
      height: 4.2rem;
      border-radius: 0.6rem;
      background-color: $color-yellow;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 2.6rem;
        height: 2.6rem;
        opacity: 0.8;
      }
    }
  }

  .clinic-doctors {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2.8rem auto;
  }
}
