@import "./sass/variables";

.clinic-carousel-container {
  flex: 1;
  margin-top: $height-header;

  .clinic-doctors,
  .clinic-packages {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2.8rem auto;
  }
}
