@import "./sass/variables";

.clinic-info-container {
  position: relative;
  margin-bottom: 2.4rem;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -0.8rem;
    height: 100%;
    width: 1px;
    background-color: $grey-4;
  }

  .clinic-info {
    &-address {
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
      &__name {
        font-size: $base-size + 0.2rem;
        font-weight: 700;
      }

      &__address {
        margin-bottom: 0;
        font-size: $base-size;
      }
    }

    .clinic-info-price,
    .clinic-info-insurance {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__title {
        margin-bottom: 0;
      }

      &__price {
        color: $main-color-text;
        font-weight: 400;
      }

      &__button,
      &__button {
        margin-right: 1rem;
        font-weight: 700;
        border: none;
        background-color: transparent;
        color: $color-blue-dark-2;
      }
    }
  }

  .more-info {
    margin-top: 0rem;
    border: 1px solid $color-blue-dark-2;
    border-radius: 0.5rem;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;

    &.more-info--price.open,
    &.more-info--insurance.open {
      max-height: 100rem;
      margin-top: 0.6rem;
      opacity: 1;
      visibility: visible;
    }

    &-top,
    &-bottom {
      &__heading {
        display: flex;
        justify-content: space-between;
        font-size: $base-size + 0.1rem;
        font-weight: 700;

        span {
          font-size: $base-size + 0.2rem;
          font-weight: 600;
          color: $color-blue-dark-2;
        }
      }
    }

    &-top {
      border-bottom: 1px solid $color-blue-dark-2;

      &__note {
        font-size: $base-size;
        font-weight: 400;
      }
    }

    &-bottom {
      margin-top: 1rem;

      &__note {
        font-size: $base-size;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }
}

//COMPONENT IN PAGE SPECIALTY

.clinic-info-container.small {
  padding-top: 1rem;
  border-top: 2px solid $grey-5;
  margin-right: 1rem;

  &::before {
    display: none;
  }

  .clinic-info-price,
  .clinic-info-insurance {
    &__button,
    &__button {
      margin-right: 0;
    }
  }

  .more-info {
    &-top,
    &-bottom {
      &__heading {
        font-weight: 700;
      }

      &__note {
        font-weight: 400;
        font-size: $base-size;
      }
    }
  }
}
