@import "./sass/variables";

.clinic {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .clinic-header {
    position: absolute;
  }

  .clinic-content {
    flex: 1;
    margin-top: $height-header;
  }

  .clinic-navigator {
    border-top: 1px solid $grey-5;
    box-shadow: $shadow-1;

    &.fixed {
      position: fixed;
      top: $height-header;
      left: 0;
      width: 100%;
      z-index: 2;
      background-color: #fff;
    }

    .navigator-list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;

      &__item {
        padding: 1rem 1.2rem;
        font-weight: 600;
        cursor: pointer;

        &--scroll {
          color: $main-color-text;
          transition: color 0.1s linear;

          &:hover {
            color: $color-blue-dark-2;
          }
        }
      }

      &__item--specialty {
        font-weight: 600;
        text-transform: uppercase;

        a {
          font-weight: 700;
          color: $color-yellow-dark;
          transition: opacity 0.1s linear;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .clinic-body {
    ul {
      list-style-type: disc;
      padding-left: 2.4rem;
    }
  }

  .button-choose-specialty {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10rem;
    background-color: #fff;
    box-shadow: 2px -1px 5px #bbb;

    button {
      width: 100%;
    }
  }
}
