@import "./sass/variables";

.doctors-popular-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .doctors-popular {
    margin-top: $height-header;
    flex: 1;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $grey-2;
      padding: 3rem 0 1.5rem;
      margin-bottom: 3rem;

      h2 {
        font-size: $base-size + 1rem;
        font-weight: 700;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin-bottom: 3rem;

      border: 1px solid $grey-2;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

      &__image {
        img {
          object-fit: cover;
          border-radius: 0.8rem;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;

      &__name {
        font-size: $base-size + 0.6rem;
        font-weight: 700;
        color: $color-blue;
      }

      &__specialty {
        display: flex;
        align-items: center;
        gap: 0.2rem;

        span {
          font-size: $base-size + 0.2rem;
          color: $main-color-text;
        }
      }
    }
  }
}
