@import "./sass/variables";

.filters-container {
  margin-top: 2rem;
  padding: 2.5rem 5rem;
  border-radius: 0.6rem;
  background-color: $color-yellow-dark;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  .filters-search {
    display: flex;
    gap: 2rem;
    .input-search {
      width: 100%;
      border-radius: 0.6rem;
    }
  }

  .refresh {
    flex: 0 0 4.2rem;
    height: 4.2rem;
    border-radius: 0.6rem;
    background-color: $color-yellow;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      width: 2.6rem;
      height: 2.6rem;
      opacity: 0.8;
    }
  }

  .filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 2rem;

    .filter {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0.6rem 1.8rem;
      background-color: #fff;
      border: 1px solid $rgba-black-1;
      border-radius: 0.6rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      outline: none;
      cursor: pointer;
      user-select: none;

      &__name {
        font-weight: 600;
        font-size: $base-size + 0.4rem;
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &__icon {
        svg {
          opacity: 0.7;
        }
      }
    }

    .filter--price {
      .filter-select {
        width: 40rem;

        &__inputs {
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
          gap: 0.6rem;
          width: 100%;

          input {
            width: 50%;
            padding: 0.4rem 0.6rem;
            border-radius: 0.6rem;
            border: 2px solid $grey-8;
            font-size: $base-size + 0.2rem;
            outline: none;
            -moz-appearance: textfield;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
            }

            &:focus {
              border: 2px solid $color-blue-2;
            }
          }
        }

        .filter-options {
          overflow-y: unset;
          padding-right: 0;
        }
      }
    }

    .filter--clinic,
    .filter--region {
      .filter-select__inputs {
        .input-search {
          border-radius: 0.6rem;
          width: 100%;
          margin-bottom: 1rem;
          padding: 0.8rem;
          box-shadow: none;
        }
      }
    }

    .filter--clinic {
      .filter-select {
        right: 0;
        left: unset;
      }
    }

    .filter-select {
      position: absolute;
      top: 115%;
      left: 0;
      z-index: 1;
      cursor: default;

      width: 44rem;
      padding: 2rem;
      background-color: #fff;
      box-shadow: $shadow-3;
      border-radius: 0.6rem;
      opacity: 0;
      visibility: hidden;
      transition: $transition;

      &.open {
        opacity: 1;
        visibility: visible;
      }

      &__title {
        font-size: $base-size + 0.4rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &--district {
          margin-top: 1rem;
        }

        svg {
          width: 2.2rem;
          height: 2.2rem;
          opacity: 0.6;
          cursor: pointer;
          transition: $transition;

          &:hover {
            opacity: 1;
          }
        }
      }

      &__close {
        position: absolute;
        top: 1rem;
        right: 2rem;
      }

      .filter-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.6rem;
        row-gap: 0.6rem;
        max-height: 20rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0.5rem;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 1rem;
        }

        &__item {
          font-size: $base-size + 0.2rem;
          padding: 1rem;
          border-radius: 0.6rem;
          background-color: $grey-2;

          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          user-select: none;

          &:hover {
            cursor: pointer;
          }

          &--selected {
            font-weight: 700;
            color: #fff;
            background-color: $color-blue-2;
          }
        }
      }

      .filter-buttons {
        border-top: 1px solid $grey-2;
        margin-top: 1rem;
        padding-top: 1rem;

        display: flex;
        justify-content: flex-end;
        gap: 1.2rem;

        &__refresh,
        &__filter {
          outline: none;
          border: none;
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 0.6rem;
          background-color: $color-yellow-dark-2;
          opacity: 0.6;
          transition: $transition;

          &:hover {
            opacity: 1;
          }

          svg {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }
  }
}
