@import "./sass/variables";
@import "../styles/sass/mixin";

.forgot-password {
  &__go-back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.4rem;
    cursor: pointer;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__title {
    text-align: center;
    font-size: $base-size + 1.4rem;
    font-weight: 700;
    color: $color-blue-dark;
    line-height: 3.6rem;
    justify-content: center;
  }

  .form {
    &--forgot-password {
      margin-top: 3.2rem;
    }

    .custom-input {
      @include custom-input;
    }

    &-confirm-code {
      &__input {
        position: relative;
        .custom-input {
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }

    &-button {
      border: none;

      &.form-button--send-code {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        z-index: 10;
        padding: 1.4rem 4rem;
        border-radius: 1.4rem;
        font-weight: 600;
        font-size: $base-size + 0.1rem;
        background-color: $color-red;
        color: #fff;
      }

      &.form-button--send-code-disable {
        background-color: #ccc;
        color: $grey-1;
        cursor: not-allowed;
      }
    }

    &-button--confirm,
    &-button--confirm-disable {
      @include form-button;

      span {
        display: inline-block;
        margin-top: 1px;
      }
    }

    &-button--confirm-disable {
      cursor: not-allowed;
      filter: brightness(0.95);
    }
  }
}
