@import "./sass/variables";

.input-search {
  position: relative;
  width: 36rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.8rem 1.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  border: 1.5px solid $rgba-black-1;

  &:focus-within {
    border: 1px solid $color-blue;
  }

  input {
    flex: 1;
    font-size: $base-size + 0.2rem;
    color: $main-color-text;
    border: none;
    outline: none;

    &::placeholder {
      color: $rgba-black-2;
    }
  }

  &__icon {
    margin-top: -2px;
    transition: $transition;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: $color-blue;
      cursor: pointer;
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
