@import "./sass/variables";

.input-search {
  position: relative;
  width: 36rem;

  input {
    font-size: $base-size + 0.2rem;
    width: 100%;
    color: r$rgba-black-3;
    padding: 0.8rem 1.8rem;
    border: 1.5px solid $rgba-black-1;

    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    outline: none;

    &::placeholder {
      color: $rgba-black-2;
    }

    &:focus {
      border: 1px solid $color-blue;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 1.4rem;
    transform: translateY(-50%);
    margin-top: -1px;
    transition: $transition;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: $color-blue;
      cursor: pointer;
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
