@import "./sass/variables";

.package-container {
  flex: 1;
  .package-content {
    border-top: 1px solid $grey-8;
    border-bottom: 1px solid $grey-8;
    &__include {
      background-color: $grey-7;
      padding: 1.5rem 0;
      font-size: $base-size + 0.1rem;

      h3 {
        font-size: $base-size + 0.4rem;
        margin-bottom: 1rem;
        color: $main-color-text;
      }

      ul {
        list-style-type: unset;

        li {
          margin-left: 2.6rem;
        }
      }
    }

    &__list-exam {
      border-top: 1px solid $grey-8;
      padding: 1.5rem 0;
    }
  }
}
