@import "./sass/variables";
@import "../styles/sass/mixin";

.reset-password {
  &__go-back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.4rem;
    cursor: pointer;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .form {
    &--reset-password {
      margin-top: 3.2rem;
    }

    label {
      font-size: $base-size + 0.2rem;
      font-family: $font-main;
      font-weight: 600;
    }

    .custom-input {
      @include custom-input;
      margin-top: -0.4rem;
    }

    &-button--confirm {
      @include form-button;

      span {
        display: inline-block;
        margin-top: 1px;
      }
    }
  }
}
