@import "./sass/variables";

.scroll-to-top {
  position: fixed;
  bottom: 3.2rem;
  right: 3.2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: $color-blue;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: $transition;

  &:hover {
    background-color: $color-blue-dark-2;
  }

  svg {
    width: 3.6rem;
    height: 3.6rem;
    color: #fff;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }
}
