@import "./sass/variables";

.specialties {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey-2;
    padding: 3rem 0 1.5rem;
    margin-bottom: 3rem;
    margin-top: $height-header;

    h2 {
      font-size: $base-size + 1rem;
      font-weight: 700;
    }
  }

  &-list {
    flex: 1;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
    height: 14rem;

    &__image {
      box-shadow: $shadow-3;
      border-radius: 0.8rem;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 20rem;
        height: 14rem;
      }
    }

    &__name {
      span {
        font-size: $base-size + 0.6rem;
        font-weight: 700;
        color: $color-blue-2;
      }
    }
  }
}
